server {
    listen 80;
    server_name {{ domain_name }};

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ domain_name }};

    ssl_certificate {{ ssl_certificate_path }};
    ssl_certificate_key {{ ssl_certificate_key_path }};

    root /var/www/html;
    index index.html;

    location / {
        try_files $uri $uri/ =404;
    }
}
